@font-face {
  font-family: SOGAND;
  src: url(../assets/font/SOGAND/SOGAND.ttf);
}
.main {
  background-color: white;
  /* position: absolute; */
  width: 100%;
  height: 100%;
  /* bottom: 0;
  right: 0; */
  display: flex;
  z-index: 20;
  margin: 0;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 10px 50px; */
  height: 10vh;
  background-color: #09a88a;
  width: 100%;
  overflow: hidden;
  position: fixed;
  z-index: 100;
}
.logo {
  display: flex;
  width: 100%;
  height: 13vh;
}
.divlogo {
  display: flex;
  height: 10vh;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.user {
  color: whitesmoke;
  font-size: 18px;
}
.ul {
  height: 10vh;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
  margin: 0;
  padding: 0;
  display: flex;
}
.ul li {
  /* background-color: blue; */
  /* margin: 0 10px; */
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  text-align: center;
  width: auto;
  
}
/* .ul li NavLink{

} */
@media (min-width: 576px) {
  .ul li {
    font-size: 16px;
  }
}
@media (max-width: 576px) {
  .ul li {
    font-size: 14px;
    padding: 8px;
  }
}
@media (max-width: 375px) {
  .ul li {
    font-size: 14px;
    padding: 8px;
  }
}
.activeTab {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  height: 100%;
  cursor: pointer;
  padding: 0 20px;
  font-weight: 600;
  background-color: #057e68;
  /* margin: 0 10px; */
}
.btns {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  height: 100%;
  cursor: pointer;
  padding: 0 20px;
  /* margin: 0 10px; */
}
.menuBTN {
  height: 100%;
  align-items: center;
  justify-content: flex-end;
  padding: 0 20px;
  cursor: pointer;
}
